body {
    background-color: #8d6644;
    background-image: url("sitefon.png");
    background-size: cover;
    background-attachment: fixed;
    width: 1300px;
    margin: 0 auto;
    overflow-x: auto;
}


a.post{
    margin: 3% 1% 3% 1%;
    width: 25.5%;
    border: solid #b87333 6pt;
    border-radius: 45px;
    background-color: #c39964;
    text-align: center;
    padding-bottom: 1%;
    display: inline-block;
    text-decoration: none;
    color: #555555;
    font-family: "MedievalSharp", cursive;
    font-size: 3.5vh;
    font-weight: bolder;
    transition: all, 0.3s, ease, 0.3s;
}

a.post:hover{
    color: #cd7f32;
}

a.post img{
    margin: 10% 5% 0.5% 5%;
    border-radius: 45px;
    border: solid #b87333 6pt;
    width: 80%;
}

a.post > p {
    margin: 0% 0% 0% 0%;
}

div.post.char{
    margin: 1.5% 13.5% 3% 13.5%;
    border: solid #0a1237 6pt;
    border-radius: 40px;
    background-color: #f1ebe0;
    width: 35%;
}

div.in_menu_point{
    margin: 3% 1% 3% 1%;
    width: 73.5%;
    border: solid #b87333 6pt;
    border-radius: 45px;
    background-color: #c39964;
    display: inline-block;
    text-align: left;
    font-family: "MedievalSharp", cursive;
    padding: 2% 5% 5% 2%;

}

div.in_menu_point img{
    border-radius: 35px;
    border: solid #b87333 6pt;
    width: 13.5%;
    display: inline-block;
}

div.in_menu_point_block{
    display: inline-block;
    padding: 0% 0% 0% 2%;
    vertical-align:top;
    width: 80%;
    margin-top: -2%;
}

div.flMsg.success{
    font-size: 20px;
    font-weight: bold;
    padding-left: 3%;
    color: #176955;
    font-family: 'Ubuntu Mono', monospace;
}

div.flMsg.error{
    font-size: 20px;
    font-weight: bold;
    padding-left: 3%;
    color: #69172b;
    font-family: 'Ubuntu Mono', monospace;
}


div.flMsg.errorInv{
    font-size: 20px;
    font-weight: bold;
    color: #69172b;
    font-family: 'Ubuntu Mono', monospace;
}



div.nickname{
    font-size: 40px;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 2.5%;
    color: #172b69;
    padding-bottom: 2%;
    font-family: 'Ubuntu Mono', monospace;
}

div.text{
    font-size: 30px;
    font-weight: bold;
    padding: 0% 3% 3% 3%;
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    text-align: justify;
    width: 90%;
}

div.show_char{
    font-size: 30px;
    font-weight: bold;
    padding: 0% 1% 1% 1%;
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    width: 100%;
}

div.show_char.razd{
    font-size: 30px;
    font-weight: bold;
    padding: 0% 1% 1% 1%;
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    align-self: center;
    width: 100%;
}



div.dateandtime{
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    /*font-family: 'Roboto', sans-serif;*/
    padding: 1% 3% 2% 3%;
    color: #172b69;
    font-family: 'Ubuntu Mono', monospace;
    text-align: right;
}

textarea {
    width: 99%;
    resize: none;
    font-size: 30px;
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;

}


div.post + div.sign-wrap-3 {
    margin-bottom: -5%;
}


p.linename {
    font-size: 30px;
    font-weight: bold;
    /*padding: 0% 3% 3% 3%;*/
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-bottom: 1%;
    padding-top: 3%;
}


p.linename.forAttack {
    font-size: 30px;
    font-weight: bold;
    /*padding: 0% 3% 3% 3%;*/
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-bottom: 4%;
    padding-top: 3%;
}


div.linename {
    font-size: 40px;
    font-weight: bold;
    /*padding: 0% 3% 3% 3%;*/
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-bottom: 1%;
    padding-top: 3%;
    text-align: center;
}


input {
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 1%;
    color: #203c93;
    font-size: 30px;
}



form {
    margin-left: 3%;
    width: 50%;
}

form.items {
    margin-left: 3%;
    width: 90%;
}


div.postbut {
    align-self: end;
}

form.postform {
    width: 94%;
    display: flex;
    flex-direction: column;
}


div.form {
    margin-left: 3%;
    width: 50%;
}

main {
    margin: -1% auto;
    background-color: #f9e3be;
    border: solid white 5pt;
    padding-bottom: 1%;
    text-align: center;
    width: 1300px;

}


nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}


a.topmenu{
    padding: 0% 5%;
    width: 50%;
    font-size: 5vh;
    font-weight: bolder;
    text-decoration: none;
    background-color: #f9e3be;
    color: #555555;
    transition: all, 0.3s, ease, 0.3s;
    font-family: "MedievalSharp", cursive;
    text-align: center;
}


a.topmenu:hover{
    color: #cd7f32;
}


div.menu_par_name{
    width: 100%;
    text-align: left;
    font-size: 8vh;
}

div.menu_par_lvl{
    width: 80%;
    text-align: left;
    font-size: 4vh;
}

div.menu_par_descr{
    width: 100%;
    text-align: left;
    font-size: 4vh;
    padding-top: 1%;
}