body {
    background-color: #8d6644;
    background-image: url("sitefon.png");
    background-size: cover;
    /*background-attachment: fixed;*/
    width: 1300px;
    margin: 0 auto;
    overflow-x: auto;
}


a.post{
    margin: 3% 1% 3% 1%;
    width: 25.5%;
    border: solid #b87333 6pt;
    border-radius: 45px;
    background-color: #c39964;
    text-align: center;
    padding-bottom: 1%;
    display: inline-block;
    text-decoration: none;
    color: #555555;
    font-family: "MedievalSharp", cursive;
    font-size: 23pt;
    font-weight: bolder;
    transition: all, 0.3s, ease, 0.3s;
}

a.post:hover{
    color: #ffd700;
    transform: translateY(-7%);
}

a.post img{
    margin: 10% 5% 0.5% 5%;
    border-radius: 45px;
    border: solid #b87333 6pt;
    width: 80%;
}

a.post > p {
    margin: 0% 0% 0% 0%;
}

div.post.char{
    margin: 1.5% 13.5% 3% 13.5%;
    border: solid #0a1237 6pt;
    border-radius: 40px;
    background-color: #f1ebe0;
    width: 35%;
}

div.in_menu_point{
    margin: 3% 1% 3% 1%;
    width: 73.5%;
    border: solid #b87333 6pt;
    border-radius: 45px;
    background-color: #c39964;
    display: inline-block;
    text-align: left;
    font-family: "MedievalSharp", cursive;
    padding: 2% 2% 2% 2%;

}

div.in_menu_point img{
    border-radius: 35px;
    border: solid #b87333 6pt;
    width: 13.5%;
    display: inline-block;
}

div.in_menu_point_block{
    display: inline-block;
    padding: 0% 0% 0% 2%;
    vertical-align:top;
    width: 80%;
    margin-top: -2%;
}

p.success{
    font-size: 3vh;
    font-weight: bold;
    color: #176955;
    margin-top: 1%;
    margin-bottom: 1%;
}

p.error{
    font-size: 3vh;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #69172b;
}


div.nickname{
    font-size: 40px;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 2.5%;
    color: #172b69;
    padding-bottom: 2%;
    font-family: 'Ubuntu Mono', monospace;
}

div.text{
    font-size: 30px;
    font-weight: bold;
    padding: 0% 3% 3% 3%;
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    text-align: justify;
    width: 90%;
}

div.show_char{
    font-size: 30px;
    font-weight: bold;
    padding: 0% 1% 1% 1%;
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    width: 100%;
}

div.show_char.razd{
    font-size: 30px;
    font-weight: bold;
    padding: 0% 1% 1% 1%;
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    align-self: center;
    width: 100%;
}



div.dateandtime{
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    /*font-family: 'Roboto', sans-serif;*/
    padding: 1% 3% 2% 3%;
    color: #172b69;
    font-family: 'Ubuntu Mono', monospace;
    text-align: right;
}

textarea {
    width: 99%;
    resize: none;
    font-size: 30px;
    color: #203c93;
    font-family: 'Ubuntu Mono', monospace;

}


div.post + div.sign-wrap-3 {
    margin-bottom: -5%;
}


p.linename {
    font-size: 30px;
    font-weight: bold;
    color: #591038;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-bottom: 1%;
    /*padding-top: 3%;*/
}



input {
    color: #591038;
    font-size: 25pt;
}

input.width100 {
    width: 100%;
}



input.subm {
    margin-top: 4%;
}

form.cit_set {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.cit_set_level1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.cit_set_level2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

div.person_and_num {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.person_and_num img {
    border-radius: 10px;
    border: solid #591038 5pt;
    width: 70%;
    align-self: center;
    margin-bottom: 3%;
}

div.person_and_num input {
    width: 40%;
    align-self: center;
}

form {
    width: 50%;
}

form.items {
    margin-left: 3%;
    width: 90%;
}


div.postbut {
    align-self: end;
}

form.postform {
    width: 94%;
    display: flex;
    flex-direction: column;
}


div.form {
    margin-left: 3%;
    width: 50%;
}

main {
    margin: -1% auto;
    background-color: #f9e3be;
    border: solid white 5pt;
    padding-bottom: 1%;
    text-align: center;
    width: 1300px;

}


nav {
    border-bottom: solid white 5pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.navblock {
    text-align: center;
    padding: 0% 0% 0% 0%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "MedievalSharp", cursive;
}

div.navblock:first-of-type {
    padding: 2% 0% 0% 0%;
}



div.navblock > a{
    font-size: 30pt;
    font-weight: bolder;
    text-decoration: none;
    color: #555555;
    transition: all, 0.3s, ease, 0.3s;
    font-family: "MedievalSharp", cursive;
}


div.navblock > a:hover{
    color: #cd7f32;
}


div.menu_par_name{
    width: 100%;
    text-align: left;
    font-size: 52pt;
}

div.menu_par_lvl{
    width: 80%;
    text-align: left;
    font-size: 35pt;
}

div.menu_par_descr{
    width: 100%;
    text-align: justify;
    font-size: 20pt;
    padding-top: 1%;
    margin-bottom: 2%;
}

div.stat_info {
    font-size: 25pt;
    margin-bottom: 2%;
}


div.menu_par_info{
    width: 100%;
    text-align: justify;
    padding: 0.5% 0% 0.5% 0%;
}

img.res {
    width: 5%;
    border: solid #c02000 3.5pt;
    border-radius: 10px;
}

div.image {
    width: 12.5%;
}

div.num {
    font-size: 30pt;
    width: 15%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-top: 0.5%;
}

div.res {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 13%;
}

div.set_title {
    width: 100%;
    text-align: center;
    font-size: 30pt;
    color: #591038;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.in_time_info {
    color: #591038;
    font-size: 25pt;
}

div.upgrade {
    color: #69172b;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.upgrade img {
    width: 4%;
    height: 75%;
    border: solid #800000 3pt;
    border-radius: 10px;
}

div.upgrade > div.num {
    font-size: 20pt;
    width: 5%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 0.5%;
}

div.upgrade > div {
    display: flex;
    align-items: center;
    font-size: 20pt;
    padding-right: 1.5%;
    color: #790604;
}

div.upgrade > a {
    display: block;
    height: 100%;
    font-size: 28pt;
    margin-left: auto;
    border: solid #790604 6pt;
    background: #891614;
    color: #f9e3be;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
}

div.upgrade > a {
    display: block;
    height: 100%;
    font-size: 28pt;
    margin-left: auto;
    border: solid #790604 6pt;
    background: #891614;
    color: #f9e3be;
    border-radius: 10px;
    padding: 0.5% 1% 0.5% 1%;
    transition: all, 0.3s, ease, 0.3s;
}

div.upgrade > a:hover{
    background: #790604;
}