{% extends "./menu_item.html"%}



{% block menu_content %}
<div class="stat_info">
    <div class="menu_par_info">Всего лучников: {{ context.fighters_count }}</div>
    <div class="menu_par_info">Максимум лучников: {{ context.level.max_archers }}</div>
    <div class="menu_par_info">Время тренировки лучника: {{ context.secs_to_mins_in_nums(context.level.time_for_fighter) }}</div>
</div>
<div class="in_time_info">
    <div class="menu_par_info">До следующего лучника 4 минуты</div>
</div>

<div class="set_title">Лучники</div>

{% from "menu_items/citizen_set_block.html" import cit_set with context %}

{{ cit_set(context.level_info.cit_img, context.level_info.cit_name, 0, 0, context.level.max_archers) }}

{% endblock %}