{% extends "./menu_item.html"%}



{% block menu_content %}
<div class="stat_info">
    <div class="menu_par_info">Работников: {{context.level.workers}}</div>
    <div class="menu_par_info">Пшена на одного работника в час: {{ context.level.res_per_worker }}</div>
    <div class="menu_par_info">Пшена со всех работников в час: {{ context.round(context.level.res_per_worker*context.level.workers, 2) }}</div>
</div>

<div class="set_title">Крестьяне</div>

{% from "menu_items/citizen_set_block.html" import cit_set with context %}

{{ cit_set(context.level_info.cit_img, context.level_info.cit_name, 0, context.max_value, context.left_value, context.right_value) }}


{% endblock %}