{% extends "./menu_item.html"%}



{% block menu_content %}
<div class="stat_info">
    <div class="menu_par_info">Работников: {{context.level.workers}}</div>
    <div class="menu_par_info">Время сбора урожая: {{context.secs_to_mins_in_nums(context.level.time_for_res_pack)}}</div>
    <div class="menu_par_info">Пшена на одного работника: {{ context.level.res_per_worker }}</div>
    <div class="menu_par_info">Пшена со всех работников: {{ context.level.res_per_worker*context.level.workers }}</div>
</div>
<div class="in_time_info">
    <div class="menu_par_info">До следующего урожая</div>
</div>

<div class="set_title">Крестьяне</div>

{% from "menu_items/citizen_set_block.html" import cit_set with context %}

{{ cit_set(context.level_info.cit_img, context.level_info.cit_name, 0, 0, 50) }}


{% endblock %}