{% extends "./menu_item.html"%}



{% block menu_content %}
<div class="stat_info">
    <div class="menu_par_info">Работников: 0</div>
    <div class="menu_par_info">Время проверки ловушек: 05:00</div>
    <div class="menu_par_info">Шкур на одного работника: 1.0</div>
    <div class="menu_par_info">Шкур со всех работников: 0</div>
</div>
<div class="in_time_info">
    <div class="menu_par_info">До следующей проверки ловушек</div>
</div>


{% from "menu_items/citizen_set_block.html" import cit_set with context %}

{{ cit_set(menu_par.cit_img, menu_par.cit_name) }}


{% endblock %}