{% extends "./base.html"%}



{% block content %}
<div class="in_menu_point">
<div class="notifications_title">ⵈ━══════╗Сводка╔══════━ⵈ</div>
    <div class="notifications_block">
        {% for notification in context.notifications%}
        <div class="notification">
            {% if notification.notification_class == 'build' %}
            <img src="{{ url_for('static', path='images/notifs_images/build_up_500.png') }}" alt="Улучшение">
            {% endif %}
            <div class="notification_text"> {{ notification.text | safe }}</div>
        </div>
        <div class="notification_datetime">{{ notification.time_str }}</div>
        {% endfor %}
    </div>


</div>

{% endblock %}