{% extends "./menu_item.html"%}



{% block menu_content %}

<div class="stat_info">
    <div class="menu_par_info">Всего горожан: {{ context.level.unemployed_citizens }}</div>
    <div class="menu_par_info">Максимум горожан: {{ context.level.max_citizens }}</div>
    <div class="menu_par_info">Время появления горожанина: {{ context.secs_to_mins_in_nums(context.level.time_for_citizen) }}</div>
    <div class="menu_par_info">Время сбора налогов: {{ context.secs_to_mins_in_nums(context.level.time_for_money_pack) }}</div>
    <div class="menu_par_info">Налогов с одного горожанина: {{ context.level.money_per_citizen }}</div>
</div>
<div class="in_time_info">
    <div class="menu_par_info">До следующего горожанина {{context.secs_to_mins(context.secs_to_cit)}}</div>
    <div class="menu_par_info">До следующего сбора налогов {{context.secs_to_mins(context.secs_to_money)}}</div>
</div>

{% endblock %}