{% extends "./menu_item.html"%}



{% block menu_content %}
<form action="{{ url_for('change_city_name')}}" enctype="multipart/form-data" method="post" class="city_name">
    {% if context.city_name is not none %}
    <p class="linename">Изменить название города:</p><input name="city_name" type="text" value="{{ context.city_name }}">
    {% else %}
    <p class="linename">Изменить название города:</p><input name="city_name" type="text">
    {% endif %}
    <input type="submit" class="subm">
    {% if form_message is not none %}
    <p class="{{ form_message_class }}">{{ form_message }}</p>
    {% endif %}
</form>

<div class="stat_info">
    <div class="menu_par_info">Незанятых горожан: {{ context.level.unemployed_citizens }}</div>
    <div class="menu_par_info">Всего горожан: {{ context.level.citizens_in_city }}</div>
    <div class="menu_par_info">Максимум горожан: {{ context.level.max_citizens }}</div>
    <div class="menu_par_info">Время появления горожанина: {{ context.secs_to_mins_in_nums(context.level.time_for_citizen) }}</div>
    <div class="menu_par_info">Налогов с одного горожанина в час: {{ context.level.money_per_citizen }}</div>
    <div class="menu_par_info">Со всех горожан в час: {{ context.round(context.level.money_per_citizen * context.level.unemployed_citizens, 2) }}</div>
</div>
<div class="in_time_info">
    {% if context.secs_to_cit is not none %}
    <div class="menu_par_info">До следующего горожанина {{context.secs_to_mins(context.secs_to_cit)}}</div>
    {% else %}
    <div class="menu_par_info">В городе максимум жителей</div>
    {% endif %}
</div>



{% endblock %}