{% extends "./menu_item.html"%}



{% block menu_content %}

<div class="stat_info">
    <div class="menu_par_info">Всего горожан: 0</div>
    <div class="menu_par_info">Максимум горожан: 100</div>
    <div class="menu_par_info">Время появления горожанина: 05:00</div>
    <div class="menu_par_info">Время сбора налогов раз в 05:00</div>
    <div class="menu_par_info">Налогов с одного горожанина: 1.0</div>
</div>
<div class="in_time_info">
    <div class="menu_par_info">До следующего горожанина 4 минуты</div>
    <div class="menu_par_info">До следующего сбора налогов 5 минут</div>
</div>

{% endblock %}