{% extends "./menu_item.html"%}



{% block menu_content %}
<div class="stat_info">
    <div class="menu_par_info">Всего рыцарей: 0</div>
    <div class="menu_par_info">Максимум рыцарей: 50</div>
    <div class="menu_par_info">Время тренировки рыцаря: 05:00</div>
</div>
<div class="in_time_info">
    <div class="menu_par_info">До следующего рыцаря 4 минуты</div>
</div>

<div class="set_title">Рыцари</div>

{% from "menu_items/citizen_set_block.html" import cit_set with context %}

{{ cit_set(menu_par.cit_img, menu_par.cit_name) }}

{% endblock %}