{% extends "./menu_item.html"%}



{% block menu_content %}
<div class="stat_info">
    <div class="menu_par_info">Всего рыцарей: {{ context.level.knights }}</div>
    <div class="menu_par_info">Максимум рыцарей: {{ context.level.max_knights }}</div>
    <div class="menu_par_info">Время тренировки рыцаря: {{ context.secs_to_mins_in_nums(context.level.time_for_knight) }}</div>
</div>
<div class="in_time_info">
    <div class="menu_par_info">До следующего рыцаря 4 минуты</div>
</div>

<div class="set_title">Рыцари</div>

{% from "menu_items/citizen_set_block.html" import cit_set with context %}

{{ cit_set(context.level_info.cit_img, context.level_info.cit_name, 0, 0, context.level.max_knights) }}

{% endblock %}