{% extends "./menu_item.html"%}



{% block menu_content %}
<div class="stat_info">
    <div class="menu_par_info">Работников: 0</div>
    <div class="menu_par_info">Время вырубки: 05:00</div>
    <div class="menu_par_info">Дерева на одного работника: 1.0</div>
    <div class="menu_par_info">Дерева со всех работников: 0</div>
</div>
<div class="in_time_info">
    <div class="menu_par_info">До следующей вырубки 4 минуты</div>
</div>

<div class="set_title">Лесорубы</div>

{% from "menu_items/citizen_set_block.html" import cit_set with context %}

{{ cit_set(menu_par.cit_img, menu_par.cit_name) }}


{% endblock %}

