<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/styles.css') }}">
  {% block title %}
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>MEDIEVAL</title>
    {% endif %}
  {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Ubuntu+Mono&display=swap" rel="stylesheet">

</head>
<body>

<main>
<nav>
    <a class="top_menu" href="">
        <img src="{{ url_for('static', path='images/top_menu/chat.png') }}" alt="Переговоры">
        <p>Переговоры</p>
    </a>
    <div class="navblock">
        <div class="res">
            <img src="{{ url_for('static', path='images/res/money.png') }}" alt="Монеты" class="res">
            <div class="num">{{context.to_int(context.inventory.money)}}</div>
            <img src="{{ url_for('static', path='images/res/wood.png') }}" alt="Дерево" class="res">
            <div class="num">{{context.to_int(context.inventory.wood)}}</div>
            <img src="{{ url_for('static', path='images/res/wheat.png') }}" alt="Шерсть" class="res">
            <div class="num">{{context.to_int(context.inventory.wheat)}}</div>
            <img src="{{ url_for('static', path='images/res/skins.png') }}" alt="Шкуры" class="res">
            <div class="num">{{context.to_int(context.inventory.skins)}}</div>
        </div>
        {% if context.city_name is not none %}
        <div class="cityname"><a href="{{ url_for('get_menu')}}">{{ context.city_name }}</a></div>
        {% else %}
        <div class="cityname"><a href="{{ url_for('get_menu')}}">Здесь будет название города</a></div>
        {% endif %}
    </div>

    <a class="top_menu" href="">
        <img src="{{ url_for('static', path='images/top_menu/info.png') }}" alt="Сводка">
        <p>Сводка</p>
    </a>
</nav>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>


