{% extends "base.html"%}



{% block content %}
    <div class="in_menu_point">
        <form action="{{ url_for('login_post')}}" enctype="multipart/form-data" method="post">
            <p class="linename">Мэйл:</p><input name="email" type="text">
            <p class="linename">Пароль:</p><input name="password" type="password">
        <input type="submit" class="subm">
        </form>
        {% if message is not none %}
        <p class="{{ request.query_params.get('message_class') }}">{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}