{% extends "base.html"%}



{% block content %}
    <a class="post" href="{{ url_for('get_menu_item', slug='town_square') }}">
        <img src="{{ url_for('static', path='images/cards/256/town_square.png') }}" alt="Площадь">
        <p>Площадь</p>
    </a>
    <a class="post" href="{{ url_for('get_menu_item', slug='war_house') }}">
        <img src="{{ url_for('static', path='images/cards/256/war_house.png') }}" alt="Казармы">
        <p>Казармы</p>
    </a>
    <a class="post" href="{{ url_for('get_menu_item', slug='market') }}">
        <img src="{{ url_for('static', path='images/cards/256/market.png') }}" alt="Рынок">
        <p>Рынок</p>
    </a>
    <a class="post" href="{{ url_for('get_menu_item', slug='bar') }}">
        <img src="{{ url_for('static', path='images/cards/256/bar.png') }}" alt="Таверна">
        <p>Таверна</p>
    </a>
    <a class="post" href="{{ url_for('get_menu_item', slug='fields') }}">
        <img src="{{ url_for('static', path='images/cards/256/fields.png') }}" alt="Поля">
        <p>Поля</p>
    </a>
    <a class="post" href="{{ url_for('get_menu_item', slug='wood_house') }}">
        <img src="{{ url_for('static', path='images/cards/256/wood_house.png') }}" alt="Дом дровосека">
        <p>Дом дровосека</p>
    </a>
    <a class="post" href="{{ url_for('get_menu_item', slug='hunter_house') }}">
        <img src="{{ url_for('static', path='images/cards/256/hunter_house.png') }}" alt="Лачуга охотника">
        <p>Лачуга охотника</p>
    </a>
    <a class="post" href="{{ url_for('get_menu_item', slug='tower') }}">
        <img src="{{ url_for('static', path='images/cards/256/tower.png') }}" alt="Сторожевая башня">
        <p>Сторожевая башня</p>
    </a>
{% endblock %}