{% extends "base.html"%}



{% block content %}
    <div class="post">
        <img src="{{ url_for('static', path='images/cards/256/town_square.png') }}" alt="Площадь">
        <a class="menu" href="{{ url_for('get_menu_item', slug='town_square') }}">Площадь</a>
    </div>
    <div class="post">
        <img src="{{ url_for('static', path='images/cards/256/war_house.png') }}" alt="Казармы">
        <a class="menu" href="{{ url_for('get_menu_item', slug='war_house') }}">Казармы</a>
    </div>
    <div class="post">
        <img src="{{ url_for('static', path='images/cards/256/market.png') }}" alt="Рынок">
        <a class="menu" href="{{ url_for('get_menu_item', slug='market') }}">Рынок</a>
    </div>
    <div class="post">
        <img src="{{ url_for('static', path='images/cards/256/bar.png') }}" alt="Таверна">
        <a class="menu" href="{{ url_for('get_menu_item', slug='bar') }}">Таверна</a>
    </div>
    <div class="post">
        <img src="{{ url_for('static', path='images/cards/256/fields.png') }}" alt="Поля">
        <a class="menu" href="{{ url_for('get_menu_item', slug='fields') }}">Поля</a>
    </div>
    <div class="post">
        <img src="{{ url_for('static', path='images/cards/256/wood_house.png') }}" alt="Дом дровосека">
        <a class="menu" href="{{ url_for('get_menu_item', slug='wood_house') }}">Дом дровосека</a>
    </div>
    <div class="post">
        <img src="{{ url_for('static', path='images/cards/256/hunter_house.png') }}" alt="Лачуга охотника">
        <a class="menu" href="{{ url_for('get_menu_item', slug='hunter_house') }}">Лачуга охотника</a>
    </div>
    <div class="post">
        <img src="{{ url_for('static', path='images/cards/256/tower.png') }}" alt="Сторожевая башня">
        <a class="menu" href="{{ url_for('get_menu_item', slug='tower') }}">Сторожевая башня</a>
    </div>
{% endblock %}