{% extends "base.html"%}



{% block content %}
    <div class="in_menu_point">
        <img src="{{ url_for('static', path=menu_par.img_link) }}" alt={{menu_par.name}}>
        <div class="in_menu_point_block">
            <div class="menu_par_name">{{menu_par.name}}</div>
            <div class="menu_par_lvl">Уровень: 0</div>
        </div>
        <div class="menu_par_descr">{{menu_par.descr}}</div>

        {% if menu_par.slug == 'town_square' %}
        <div class="stat_info">
            <div class="menu_par_info">Всего горожан: 0</div>
            <div class="menu_par_info">Максимум горожан: 100</div>
            <div class="menu_par_info">Время появления горожанина: 05:00</div>
            <div class="menu_par_info">Время сбора налогов раз в 05:00</div>
            <div class="menu_par_info">Налогов с одного горожанина: 1.0</div>
        </div>
        <div class="in_time_info">
            <div class="menu_par_info">До следующего горожанина 4 минуты</div>
            <div class="menu_par_info">До следующего сбора налогов 5 минут</div>
        </div>
        <div class="upgrade">
            <div>Улучшить за</div>
           <img src="{{ url_for('static', path='images/res/money.png') }}" alt="Монеты">
            <div class="num">0</div>
            <img src="{{ url_for('static', path='images/res/wood.png') }}" alt="Дерево">
            <div class="num">0</div>
            <img src="{{ url_for('static', path='images/res/wheat.png') }}" alt="Пшено">
            <div class="num">0</div>
            <img src="{{ url_for('static', path='images/res/skins.png') }}" alt="Шкуры">
            <div class="num">0</div>
            <div>05:00</div>
            <a>Улучшить</a>
        </div>
        {% endif %}

    </div>
{% endblock %}