{% extends "base.html"%}



{% block content %}
    <div class="in_menu_point">
        <form action="{{ url_for('register_post')}}" enctype="multipart/form-data" method="post">
            <p class="linename">Мэйл:</p><input name="email" type="text">
            <p class="linename">Пароль:</p><input name="password" type="text">
            <p class="linename">Повтор пароля:</p><input name="sec_password" type="text">
        <input type="submit" class="subm">
        </form>
    </div>
{% endblock %}